body {
  background: url(../img/header_bg.jpg) repeat-x center top;
}

.header {
  height: 327px;
  color: #fff;
}

/* 헤더 메뉴 */
.header__menu {
  text-align: right;
}

.header__menu a {
  display: inline-block;
  padding: 8px 0 6px 10px;
  font-family: 'Abel', sans-serif;
  transition: color 0.3s ease;
}

.header__menu a:hover {
  color: #ccc;
}

/* 헤더 타이틀 */

.header__tit {
  margin-top: 55px;
  font-family: 'Abel', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.header__tit h1 {
  display: inline-block;
  padding: 5px 30px;
  background: #51b0dc;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  transition: box-shadow .25s ease-in-out;
}

.header__tit h1:hover {
  box-shadow:
    9em 0 0 0 #257fac inset,
    -9em 0 0 0 #257fac inset;
}

.header__tit a {
  display: inline-block;
  margin-top: -10px;
  padding: 10px 20px;
  background: #4a9abf;
  font-size: 16px;
  transition: box-shadow .25s ease-in-out;
}

.header__tit a:hover {
  box-shadow:
    0 0 0 5px rgba(75, 154, 191, .9) inset,
    0 0 0 100px rgba(0, 0, 0, .1) inset;
}

/* 헤더 아이콘 */
.header__icon {
  margin: 40px 0;
  text-align: center;
}

.header__icon li {
  display: inline;
  margin: 0 2px;
}

.header__icon li a {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  background: #3192bf;
  border-radius: 50%;
  font-size: 35px;
  line-height: 60px;
  transition: box-shadow .3s ease;
}

.header__icon li a:hover {
  box-shadow:
    0 0 0 5px rgba(75, 154, 191, .9) inset,
    0 0 0 100px rgba(0, 0, 0, .1) inset;
}

.header__icon li a:hover span {
  opacity: 1;
  top: -34px;
}

.header__icon li a span {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translateX(-50%);
  padding: 3px 9px;
  border-radius: 6px 0;
  font-size: 12px;
  line-height: 1.6;
  background: #3192bf;
  opacity: 0;
  transition: all .3s ease;
}

.header__icon li a span::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  border-top: 5px solid #3192bf;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* mediaquery */

@media screen and (max-width:600px) {
  .header {
    height: auto;
  }

  .header__tit,
  .header__icon {
    display: none;
  }
}