nav {
  background: #f6fdff;
}

.nav {
  display: none;
  padding: 25px 0;
  overflow: hidden;
}

.nav__cont {
  float: left;
  width: 40%;
}

.nav__cont:last-child {
  width: 20%;
}

.nav__cont ol {
  overflow: hidden;
}

.nav__cont li {
  position: relative;
  float: left;
  padding-left: 8px;
  width: 50%;
  box-sizing: border-box;
}

.nav__cont li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  background: #25a2d0;
  border-radius: 50%;
}

.nav__cont li a {
  position: relative;
}

.nav__cont li a:hover {
  color: #25a2d0;
}

.nav__cont li a::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #25a2d0;
  transition: all .2s ease-out;
}

.nav__cont li a:hover::after {
  width: 100%;
}

.nav__cont:last-child li {
  width: 100%;
}

.nav__cont h3 {
  margin-bottom: 4px;
  color: #25a2d0;
  font-size: 18px;
  font-weight: bold;
}

/* mediaquery */

@media screen and (max-width:960px) {
  .nav__cont {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav__cont:last-child {
    width: 100%;
  }

  .nav__cont li {
    width: 33.33%;
  }

  .nav__cont:last-child li {
    width: 33.33%;
  }
}

@media screen and (max-width:600px) {
  .nav__cont li {
    width: 50%;
  }

  .nav__cont:last-child li {
    width: 50%;
  }
}